# required
azure_vm_name = "testvm"

# local admin username
azure_vm_admin_username         = "sampleadmin"

# local admin password (must meet complexity requirements)
azure_vm_admin_password         = "SampleSecretPassword#1234"

# optional
# azure_vm_join_domain_name       = ""
# azure_vm_join_domain_oupath     = ""
# azure_vm_join_domain_username   = ""
# azure_vm_join_domain_password   = ""

# azure_vm_instance_count = 1
# azure_vm_size = "Standard_D4s_v5"
# azure_vm_license_type                 = "Windows_Client"
# azure_vm_shared_image_name            = "en-windows-2022-small"
# azure_vm_shared_image_version = "latest"
# azure_vm_resource_group_name          = "test-rg"
# azure_vm_virtual_network_resource_group_name = "test-network-rg"
# azure_vm_virtual_network_name         = "test-vnet"
# azure_vm_virtual_network_subnet_name  = "test-vnet-sub"
# azure_vm_os_disk_storage_account_type = "Standard_LRS"
# azure_vm_os_disk_caching              = "ReadWrite"
# azure_vm_os_disk_ephemeral            = false
# azure_vm_hostpool_name                = ""
# azure_vm_hostpool_registration_token  = ""
# azure_vm_timezone = ""  # W. Europe Standard Time
