name: sig_destroy

on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  destroy:
    name: destroy
    runs-on: ubuntu-latest
    container:
      image: andif888/docker-pataz:v0.9.1

    steps:

      - name: checkout repo
        uses: actions/checkout@v2

      - name: destroy
        id: destroy
        run: |
          echo -n ${{ secrets.envfile }} > .env && . ./.env
          ./destroy.sh
